---
import BaseHead from '../../components/BaseHead.astro';
import BlogIndexPage from '../../components/BlogIndexPage.astro';
import { getBlogPosts } from '../../utils/blog';

const posts = (await getBlogPosts()).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="zh-CN">
<head>
	<BaseHead title="博客 | Blog | 洛屿柒秋" description="写作记录与文章归档。" />
</head>
<body>
<BlogIndexPage locale="bi" posts={posts} />
</body>
</html>
