---
import BaseHead from '../../components/BaseHead.astro';
import ResumePage from '../../components/ResumePage.astro';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <BaseHead title="简历 | 洛屿柒秋" description="简历概览。" />
</head>
<body>
<ResumePage locale="zh" />
</body>
</html>
