---
import BaseHead from '../../components/BaseHead.astro';
import AboutPage from '../../components/AboutPage.astro';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="About | Luo Yu Qi Qiu" description="About me and this site." />
</head>
<body>
<AboutPage locale="en" />
</body>
</html>
