---
import BaseHead from '../../components/BaseHead.astro';
import ProjectsPage from '../../components/ProjectsPage.astro';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Projects | Luo Yu Qi Qiu" description="Selected projects and practice work." />
</head>
<body>
<ProjectsPage locale="en" />
</body>
</html>
