---
import BaseHead from '../../components/BaseHead.astro';
import ResumePage from '../../components/ResumePage.astro';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Resume | Luo Yu Qi Qiu" description="Resume overview." />
</head>
<body>
<ResumePage locale="en" />
</body>
</html>
