---
import BaseHead from '../components/BaseHead.astro';
import AboutPage from '../components/AboutPage.astro';
---

<!doctype html>
<html lang="zh-CN">
<head>
	<BaseHead title="关于 | About | 洛屿柒秋" description="关于我与这个网站。" />
</head>
<body>
<AboutPage locale="bi" />
</body>
</html>
