---
import BaseHead from '../components/BaseHead.astro';
import HomePage from '../components/HomePage.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getBlogPosts } from '../utils/blog';

const posts = (await getBlogPosts())
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<!doctype html>
<html lang="zh-CN">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<HomePage locale="bi" posts={posts} />
</body>
</html>
